<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">Take A Look At Communities We Are Involved In...</h3>
         <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
            <img src="/assets/img/docker_member.jpg" alt="Member">
            </div><!-- he wrap -->
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
            <img src="/assets/img/apache-stratos-logo.png" alt="Contributor">
            </div><!-- he wrap -->
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
		        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
            <img src="/assets/img/openstack4j.png" alt="Member">
            </div><!-- he wrap -->
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
    </div><! --/row -->
</div><! --/container -->
